<div class="pt-50">
    <form [formGroup]="blogFormGroup">
        <div class="form-group">
      
      
            <div class="md-form">
                <input autocomplete="off" mdbActive type="text" class="form-control" formControlName="name">
                <label for="name" class="">Type your name</label>
            </div>
      
            <div class="md-form">
                <input autocomplete="off" mdbActive type="text" class="form-control" formControlName="title">
                <label class="" for="title">Type your title</label>
          
            </div>
      
            <div class="md-form">
                <input autocomplete="off" mdbActive type="text" class="form-control" formControlName="message">
                <label class="" for="message">Type your message</label>
          
            </div>
      
            <div class="md-form">
                <input autocomplete="off" mdbActive type="text" class="form-control" formControlName="tags">
                <label class="" for="tags">Type your tags</label>
          
            </div>
      
            <div class="md-form">
                <input autocomplete="off" mdbActive type="text" class="form-control" formControlName="time">
                <label class="" for="time">Type your time</label>
          
            </div>
      
          <!--<button *ngIf="getBool(blogFormGroup.value)" class="btn btn-warning waves-light" (click)="addFormValue()">Save</button>
          <button *ngIf="(getBool(blogFormGroup.value))" class="btn btn-warning waves-light">Not Entered</button>-->
        </div>
      </form>
</div>

