
.view {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+0,ff6600+100,c72200+100 */
background: #f3c5bd; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f3c5bd 0%, #e86c57 0%, #ff6600 100%, #c72200 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f3c5bd 0%,#e86c57 0%,#ff6600 100%,#c72200 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f3c5bd 0%,#e86c57 0%,#ff6600 100%,#c72200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}