<div *ngFor="let blog of blogCollections | async">
<div class="blog-card">
        <div class="photo photo1"></div>
        <ul class="details">
            <li class="author"><a href="#">{{blog.name}}</a></li>
            <li class="date">{{blog.time}}</li>
            <li class="tags">
                <ul>
                    <li><a href="#">{{blog.tags}}</a></li>
                </ul>
            </li>
        </ul>
        <div class="description">
            <h1>{{blog.title}}</h1>
            <h2>Sub title</h2>
            <p class="summary">{{blog.message}}</p>
            <a href="#">Read More</a>
        </div>
    </div>
</div>