<div *ngFor="let blog of blogCollections | async | reverse  ">
    <div class="blog-card">
        <div class="photo photo1"></div>
        <ul class="details">
            <li class="author">
                <a (click)=filterByName(blog.name)>{{blog.name}}</a>
            </li>
            <li class="date">
                <a (click)=filterByTime(timeCal(blog))>{{timeCal(blog)}}</a>
            </li>
            <li class="tags">
                <ul>
                    <li>
                        <div class="row">
                            <div *ngFor="let tag of tagsArray(blog.tags)">
                                <div class="col">
                                    <a (click)=filterByTag(tag)>
                                        {{tag}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="description">
            <h1>{{blog.title}}</h1>
            <h2>Subtitle</h2>
            <p class="summary">{{blog.message.substring(0, 150)}}</p>
            <a href="#">Read More</a>
        </div>
    </div>
</div>